.login{
    background-image: url('../../images/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form{
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}